.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #13151a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* Remove default margin */
}




/* Login.css */
.login-container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.left-section {
  flex: 1; /* Takes up 1/3rd of the available space */
  background-color: #28282B;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-section {
  align-items: center;
  background-color: #36454F;
  flex: 2; /* Takes up 2/3rds of the available space */
  padding: 20px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.left-section img {
  width: 200px; /* Adjust the width to make the logo smaller */
  height: 200px; /* Adjust the height to make the logo smaller */
  border-radius: 50%; /* Make the logo round */
}




/*google login*/
/* 
.googleButton{
  background-color: #4285f4; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #357ae8; 
    }
} */